@import url('//fonts.googleapis.com/css?family=Montserrat');

body, html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.container {
    margin-top: 150px;
}

.badge {
    font-size: 1.2rem;
}
